[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/RobbeBryssinck/imgui
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/RobbeBryssinck/glfw.git
